<div id="dialog-close" class="div-form-table organ-dialog " style=" display:none; width: 40%;"><b>Please enter Control Horizon and Setpoint:</b><br><br>
    <form method="post">

        <label>
            Control Horizon(Future time steps):<br>
            <input type="text" id="Np"  class="form-control" />
        </label>
        <br>
        <label>
            Concentration setpoint in Blood:<br>
            <input type="text" id="target_p" class="form-control" />
            <em>(μg/L)</em>
        </label>

        <hr>
        <label>
            Simulation Step:<br>
            <input type="text" id="step_p" class="form-control" />
            <em>(hr)</em>
        </label>
        <br>
        <label>
            End Time:<br>
            <input type="text" id="end_p"  class="form-control" />
            <em>(hr)</em>
        </label>


	<!--<div style="color : red">{{error}}</div><br> -->
	<!--<input type="submit" value="Create PBPK Model" class="btn btn-block btn-lg btn-primary" style="width: 11%; border: 2px solid #2f4154;"> -->
	<!-- <div id="divCheckbox" style="visibility: hidden; display:inline;">Here are the results!</div>-->
    </form>
 </div>

