<div id="dialog-heart" class="organ-dialog" style="display: none;">
    <form method="post" name="frm">

        <table>
            <tr><td>Heart Flow:</td>
                {% if default %}
                <td>{{form.heart_flow_factor.value}}</td>
                {% else %}
                <td><input type="text" value={{form.heart_flow_factor.value}} id="h_f_f" class="form-control"></td>
                {% endif %}
                <td><em>(Heart flow as percentage with respect to CO).</em></td>
            </tr>
            <tr>
                <td>Heart Volume: </td>
                {% if default %}
                <td>{{form.heart_volume_fraction.value}}</td>
                {% else %}
                <td><input type="text" value={{form.heart_volume_fraction.value}} id="h_v_f" class="form-control"></td>
                {% endif %}
                <td><em>(Heart volume as percentage with respect to BW).</em></td>
            </tr>
            <tr>
                <td>Blood in heart: </td>
                {% if default %}
                <td>{{form.blood_heart_fraction.value}}</td>
                {% else %}
                <td><input type="text" value={{form.blood_heart_fraction.value}} id="h_b_f" class="form-control"></td>
                {% endif %}
                <td><em>(Blood as percentage with respect to heart volume. The remaining of the volume is tissue).</em></td>
            </tr>

        </table>
    </form>
</div>