<div id="dialog-lung" class="organ-dialog lung-dialog" style="display: none;">
    <form method="post" name="frm">

        <table>
            <tr><td>Lung Flow:</td>
                {% if default %}
                <td>{{form.lung_flow_factor.value}}</td>
                {% else %}
                <td><input type="text" value={{form.lung_flow_factor.value}} id="lg_f_f" class="form-control"></td>
                {% endif %}
                <td><em>(Lung flow as percentage with respect to CO).</em></td>
            </tr>
            <tr>
                <td>Lung Volume: </td>
                {% if default %}
                <td>{{form.lung_volume_fraction.value}}</td>
                {% else %}
                <td><input type="text" value={{form.lung_volume_fraction.value}} id="lg_v_f" class="form-control"></td>
                {% endif %}
                <td><em>(Lung volume as percentage with respect to BW).</em></td>
            </tr>
            <tr>
                <td>Blood in lung: </td>
                {% if default %}
                <td>{{form.blood_lung_fraction.value}}</td>
                {% else %}
                <td><input type="text" value={{form.blood_lung_fraction.value}} id="lg_b_f" class="form-control"></td>
                {% endif %}
                <td><em>(Blood as percentage with respect to lung volume. The remaining of the volume is tissue).</em></td>
            </tr>

        </table>
    </form>
</div>