<div id="dialog-muscle" class="organ-dialog" style="display: none;">
    <form method="post" name="frm">

        <table>
            <tr><td>Muscle Flow:</td>
                {% if default %}
                <td>{{form.muscle_flow_factor.value}}</td>
                {% else %}
                <td><input type="text" value={{form.muscle_flow_factor.value}} id="m_f_f" class="form-control"></td>
                {% endif %}
                <td><em>(Muscle flow as percentage with respect to CO).</em></td>
            </tr>
            <tr>
                <td>Muscle Volume: </td>
                {% if default %}
                <td>{{form.muscle_volume_fraction.value}}</td>
                {% else %}
                <td><input type="text" value={{form.muscle_volume_fraction.value}} id="m_v_f" class="form-control"></td>
                {% endif %}
                <td><em>(Muscle volume as percentage with respect to BW).</em></td>
            </tr>
            <tr>
                <td>Blood in muscle: </td>
                {% if default %}
                <td>{{form.blood_muscle_fraction.value}}</td>
                {% else %}
                <td><input type="text" value={{form.blood_muscle_fraction.value}} id="m_b_f" class="form-control"></td>
                {% endif %}
                <td><em>(Blood as percentage with respect to muscle volume. The remaining of the volume is tissue).</em></td>
            </tr>

        </table>
    </form>
</div>