{% extends "base.html" %}

{% block content %}

<div style="width: 90%; margin: 0px auto;margin-left: auto ;margin-right: auto ;">
<h2 class="text-center">Welcome!</h2>
<div class="info text-center" >This is a web application for creating and simulating PBPK models and for computing optimal drug administrations using Model Predictive Control.
    The development of this application was funded by project 11ΣYN_10_1152, which was co-financed by the European Union and Greece,Operational Programme “Competitiveness & Entrepreneurship”,
    NSFR 2007–2013 in the context of GSRT-National action “Cooperation”. <br><br>
</div>
<div style="display: none">
	<table>
			<tr>
				<td><a href="/NewModel">Create a New Model</a></td>
			</tr>
			<tr>
				<td><a href="/oldIntermediate">Use a pre-extisted Model</a></td>
			</tr>
			<tr>
				<td><a href="/editIntermediate">Edit and use a pre-existed Model</a></td>
			</tr>
			<tr>
				<td><a href="/default">Use the Default Model</a></td>
			</tr>
		</table>
</div>

<div class="row demo-tiles">
        <div class="col-xs-3 initial" style="left:30%; position:relative;">
          <div class="tile">
            <img src="/static/img/check.png" alt="Compas" class="tile-image big-illustration">
            <p>Use Default model.</p>
            <a class="btn btn-primary btn-large btn-block" href="/default">Default model</a>
          </div>
        </div>

        <div class="col-xs-3 initial" style="left:30%; position:relative;">
          <div class="tile">
            <img src="/static/img/compose.png" alt="Infinity-Loop" class="tile-image">
            <p>Create new Model.</p>
            <a class="btn btn-primary btn-large btn-block" href="/NewModel">Create model </a>
          </div>
        </div>

        <div class="col-xs-3 initial" style="left:30%; position:relative;">
          <div class="tile">
            <img src="/static/img/barchart.png" alt="Pensils" class="tile-image">
            <p>Modify Existing Model. </p>
            <a class="btn btn-primary btn-large btn-block" href="/editIntermediate">Modify model</a>
          </div>
        </div>

 </div>
 {% if not user.is_authenticated %}
 <div class="row demo-tiles">
        <div class="col-xs-3 initial2" style="left:30.5%; position:relative;">
          <div class="tile">
            <img src="/static/img/pencils.svg" alt="Compas" class="tile-image big-illustration">
            <h3 class="tile-title">Already have account?</h3>
            <p></p>
            <a class="btn btn-primary btn-large btn-block" href="/accounts/login/">Login</a>
          </div>
        </div>

        <div class="col-xs-3 initial2" style="left:30.5%; position:relative;">
          <div class="tile">
            <img src="/static/img/retina.svg" alt="Infinity-Loop" class="tile-image">
            <h3 class="tile-title">Create new account</h3>
            <p></p>
            <a class="btn btn-primary btn-large btn-block" href="/accounts/signup">Create account </a>
          </div>
        </div>
</div>
</div>
{% endif %}
 <div class="push"></div>
    </div>
<footer id="footer" class="footer" style="background-color:#2c3e50;">
    <p class="center"><img src="/static/img/espalogo.png" alt="Pensils" class="tile-image text-center"></p>
    <div class="text-center">Copyright © 2015 .All rights reserved.</div>
</footer>
{% endblock %}