{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">


<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<script src="/static/js/highcharts.js"></script>
<script src="/static/js/highchart-exporting.js"></script>


{% endblock %}

{% block content %}

{% include "model-popup-forms/bladder.html" %}
{% include "model-popup-forms/liver.html" %}
{% include "model-popup-forms/residual.html" %}
{% include "model-popup-forms/skin.html" %}
{% include "model-popup-forms/kidney.html" %}
{% include "model-popup-forms/blood.html" %}
{% include "model-popup-forms/lung.html" %}
{% include "model-popup-forms/organ1-create.html" %}
{% include "model-popup-forms/organ2-create.html" %}
{% include "model-popup-forms/organ3-create.html" %}
{% include "model-popup-forms/organ4-create.html" %}
{% include "model-popup-forms/organ5-create.html" %}
{% include "model-popup-forms/organ1.html" %}
{% include "model-popup-forms/organ2.html" %}
{% include "model-popup-forms/organ3.html" %}
{% include "model-popup-forms/organ4.html" %}
{% include "model-popup-forms/organ5.html" %}
{% include "model-popup-forms/confirm.html" %}
{% include "model-popup-forms/openloop.html" %}
{% include "model-popup-forms/setpoint.html" %}
{% include "model-popup-forms/drug.html" %}
{% include "model-popup-forms/heart.html" %}
{% include "model-popup-forms/spleen.html" %}
{% include "model-popup-forms/muscle.html" %}
{% include "model-popup-forms/placental.html" %}

<canvas id="canvas" width="640" height="840" style="display: none"></canvas>


<form class="new-model-form" method="post" action="{% if edit %}/edit_model?modelid={{modelid}}&drugid={{drugid}} {% elif default%}{%if tutorial %}/tutorial {% else%} /default {% endif %} {% else %}/NewModel{% endif %} " name="f1"> {% csrf_token %}

<div id="model" class="div-form-table">
    <table class="form-table">
        <tr>
            {% if default %}
            <td><b>Model name:</b></td>
            <td>{{form.modelname.value}}</td>
            {% else %}
             <td><b>Please enter a name for your model:</b></td>
            <td>{{form.modelname}}</td>
            {% endif %}
        </tr>
        <tr>
            <td><b>Body Weight (BW):</b></td>
            {% if default %}
            <td>{{form.bw.value}}</td>
            {% else %}
            <td>{{form.bw}}</td>
            {% endif %}
            <td><em>(kg)</em></td>
        </tr>
        <tr>
            <td><b>Hematocrit:</b></td>
            {% if default %}
            <td>{{form.h.value}}</td>
            {% else %}
            <td>{{form.h}}</td>
            {% endif %}
        </tr>
         <tr>
            <td><b>Cardiac output (CO):</b></td>
             {% if default %}
            <td>{{form.cardiac_output.value}}</td>
            {% else %}
            <td>{{form.cardiac_output}}</td>
             {% endif %}
            <td><em>(L/kg/hr)</em></td>
        </tr>

    </table>
</div>

{% if error or form.errors or dform.errors %}
    <div class="error">
        {% if form.errors %}
        <p>{{form.errors}}</p>
        {% endif %}
        {% if dform.errors %}
        <p>{{dform.errors}}</p>
        {% endif %}
        {{error}}
    </div>
{% endif %}

<div id="constrains" class="div-form-table" style="display: none;">
    <table class="form-table">
        <td>
            <table>
                <tr>
                    <b>Contraints</b>
                    <td>Liver: Maximum Concentration</td>
                    <td>{{dform.max_liver}}</td>
                    <td>{{dform.min_liver}}</td>
                </tr>
                <tr>
                    <td>Kidney: Maximum Concentration</td>
                    <td>{{dform.max_kidney}}</td>
                    <td>{{dform.min_kidney}}</td>
                </tr>
                <tr>
                    <td>Residual: Maximum Concentration</td>
                    <td>{{dform.max_residual}}</td>
                    <td>{{dform.min_residual}}</td>
                </tr>
                <tr>
                    <td>Skin: Maximum Concentration</td>
                    <td>{{dform.max_skin}}</td>
                    <td>{{dform.min_skin}}</td>
                </tr>
                <tr>
                    <td>Bladder: Maximum Concentration</td>
                    <td>{{dform.max_bladder}}</td>
                    <td>{{dform.min_bladder}}</td>
                </tr>
                <tr>
                    <td>Lung: Maximum Concentration</td>
                    <td>{{dform.max_lung}}</td>
                    <td>{{dform.min_lung}}</td>
                </tr>
                <tr>
                    <td>Maximum Influx Rate</td>
                    <td>{{dform.max_influx}}</td>
                </tr>
                <tr>
                    <td>Heart: Maximum Concentration</td>
                    <td>{{dform.max_heart}}</td>
                    <td>{{dform.min_heart}}</td>
                </tr>
                <tr>
                    <td>Muscle: Maximum Concentration</td>
                    <td>{{dform.max_muscle}}</td>
                    <td>{{dform.min_muscle}}</td>
                </tr>
                <tr>
                    <td>Spleen: Maximum Concentration</td>
                    <td>{{dform.max_spleen}}</td>
                    <td>{{dform.min_spleen}}</td>
                </tr>
                <tr>
                    <td>Placental: Maximum Concentration</td>
                    <td>{{dform.max_placental}}</td>
                    <td>{{dform.min_placental}}</td>
                </tr>
            </table>
        </td>

    </table>
</div>
<div id="drugArea" style="display: none;">
    <table>
        <tr>
            <td>Drug name:</td>
            <td>{{dform.drug_name}}</td>
        </tr>
        <tr>
             <td>Drug_id:</td>
            {% if send %}
            <td><input value="{{drugid}}" id="dr-drug_id" name="dr-drug_id"></td>
            {% else %}
            <td><input value="{{drugid}}" id="drug_id" name="drug_id"></td>
            {% endif %}
        </tr>
        <tr>
            <td>Model_id:</td>
            <td><input value="{{modelid}}" id="model_id" name="model_id"></td>
        </tr>
        <tr>
            <td>Submit:</td>
            <td><input value="{{submit}}" id="submit_id" name="submit_id"></td>
        </tr>
        <tr>
            <td>Counter:</td>
            <td><input value="{{counter}}" id="counter_id" name="counter_id"></td>
        </tr>
        </table>
    </div>

<input type="button" id="residual" value="Residual" class="organ enabled residual"/>

<div id="residualArea" style="display: none;">
    <table>
        <tr>
            <td>Blood Residual fraction:</td>
            <td>{{form.blood_rest_fraction}}</td>
        </tr>
        <tr>
            <td>P residual:</td>
            <td>{{dform.p_rest}}</td>
            <td><em>(Partition coefficient).</em></td>
        </tr>
        <tr>
            <td>Pi residual:</td>
            <td>{{dform.pi_rest}}</td>
            <td><em>(Permeability coefficient).</em></td>
        </tr>
    </table>
</div>

<input type="button" id="skin" name="skin" value="Skin" class="organ enabled skin"/>

<div id="skinArea" style="display: none;">
    <table>
        <tr>
            <td>Skin Flow Factor:</td>
            <td>{{form.skin_flow_factor}}</td>
            <td><em>(Skin flow as percentage with respect to cardiac output).</em></td>
        </tr>
        <tr>
            <td>Skin Volume Fraction:</td>
            <td>{{form.skin_volume_fraction}}</td>
        </tr>
        <tr>
            <td>Blood skin fraction:</td>
            <td>{{form.blood_skin_fraction}}</td>
        </tr>
        <tr>
            <td>P skin:</td>
            <td>{{dform.p_skin}}</td>
            <td><em>(Partition coefficient).</em></td>
        </tr>
        <tr>
            <td>Pi skin:</td>
            <td>{{dform.pi_skin}}</td>
            <td><em>(Permeability coefficient).</em></td>
        </tr>
    </table>
</div>
<input type="button" id="kidney" value="Kidney" class="organ enabled kidney"/>

<div id="kidneyArea" style="display: none;">
    <table>
        <tr>
            <td>Kidney Flow Factor:</td>
            <td>{{form.kidney_flow_factor}}</td>
            <td><em>(Kidney flow as percentage with respect to cardiac output).</em></td>
        </tr>
        <tr>
            <td>Kidney Volume Fraction:</td>
            <td>{{form.kidney_volume_fraction}}</td>
        </tr>
        <tr>
            <td>Blood kidney fraction:</td>
            <td>{{form.blood_kidney_fraction}}</td>
        </tr>
        <tr>
            <td>P kidney:</td>
            <td>{{dform.p_kidney}}</td>
            <td><em>(Partition coefficient).</em></td>
        </tr>
        <tr>
            <td>Pi kidney:</td>
            <td>{{dform.pi_kidney}}</td>
            <td><em>(Permeability coefficient).</em></td>
        </tr>
        <tr>
            <td>k_kidney:</td>
            <td>{{dform.k_kidney}}</td>
        </tr>
    </table>
</div>
<input type="button" id="bladder" value="Bladder" class="organ enabled bladder"/>

<div id="bladderArea" style="display: none;">
    <table>
        <tr>
            <td>Bladder Flow Factor:</td>
            <td>{{form.bladder_flow_factor}}</td>
            <td><em>(Bladder flow as percentage with respect to cardiac output).</em></td>
        </tr>
        <tr>
            <td>Bladder Volume Fraction:</td>
            <td>{{form.bladder_volume_fraction}}</td>
        </tr>
        <tr>
            <td>Blood bladder fraction:</td>
            <td>{{form.blood_bladder_fraction}}</td>
        </tr>
        <tr>
            <td>P bladder:</td>
            <td>{{dform.p_bladder}}</td>
            <td><em>(Partition coefficient).</em></td>
        </tr>
        <tr>
            <td>Pi bladder:</td>
            <td>{{dform.pi_bladder}}</td>
            <td><em>(Permeability coefficient).</em></td>
        </tr>
    </table>
</div>
<input type="button" id="liver" value="Liver" class="organ enabled liver"/>

<div id="liverArea" style="display: none;">
    <table>
        <tr>
            <td>Liver Flow Factor:</td>
            <td>{{form.liver_flow_factor}}</td>
            <td><em>(Liver flow as percentage with respect to cardiac output).</em></td>
        </tr>
        <tr>
            <td>Liver Volume Fraction:</td>
            <td>{{form.liver_volume_fraction}}</td>
        </tr>
        <tr>
            <td>Blood liver fraction:</td>
            <td>{{form.blood_liver_fraction}}</td>
        </tr>
        <tr>
            <td>P liver:</td>
            <td>{{dform.p_liver}}</td>
            <td><em>(Partition coefficient).</em></td>
        </tr>
        <tr>
            <td>Pi liver:</td>
            <td>{{dform.pi_liver}}</td>
            <td><em>(Permeability coefficient).</em></td>
        </tr>
        <tr>
            <b>Kinetic Constants</b>
            <td>k_met:</td>
            <td>{{dform.k_met}}</td>
        </tr>
        <tr>
            <td>k_bile:</td>
            <td>{{dform.k_bile}}</td>
        </tr>
    </table>
</div>
<input type="button" id="blood" value="Blood" class="organ enabled blood"/>

<div id="bloodArea" style="display: none;">
    <table>
        <tr>
            <td>Blood Volume Fraction:</td>
            <td>{{form.blood_volume_fraction}}</td>
        </tr>
        <tr>
            <td>Pi Red Blood Cells:</td>
            <td>{{dform.pi_rbc}}</td>
            <td><em>(Permeability coefficient).</em></td>
        </tr>
        <tr>
            <td>Pi plasma:</td>
            <td>{{dform.pi_plasma}}</td>
            <td><em>(Permeability coefficient).</em></td>
        </tr>
    </table>
</div>
<input type="button" id="lung" value="Lung" class="organ enabled lung"/>

<div id="lungArea" style="display: none;">
    <table>
        <tr>
            <td>Lung Flow Factor:</td>
            <td>{{form.lung_flow_factor}}</td>
            <td><em>(Lung flow as percentage with respect to cardiac output).</em></td>
        </tr>
        <tr>
            <td>Lung Volume Fraction:</td>
            <td>{{form.lung_volume_fraction}}</td>
        </tr>
        <tr>
            <td>Blood lung fraction:</td>
            <td>{{form.blood_lung_fraction}}</td>
        </tr>
        <tr>
            <td>P lung:</td>
            <td>{{dform.p_lung}}</td>
            <td><em>(Partition coefficient).</em></td>
        </tr>
        <tr>
            <td>Pi lung:</td>
            <td>{{dform.pi_lung}}</td>
            <td><em>(Permeability coefficient).</em></td>
        </tr>
    </table>
</div>
<input type="button" id="Blood2" value="Blood" class="organ enabled blood2"><b></b>
<input type="button" id="heart" value="Heart" class="organ enabled heart"><b></b>
    <div id="heartArea" style="display: none;">
     <table>
        <tr>
            <td>Heart Flow Factor:</td>
            <td>{{form.heart_flow_factor}}</td>
            <td><em>(Lung flow as percentage with respect to cardiac output).</em></td>
        </tr>
        <tr>
            <td>Heart Volume Fraction:</td>
            <td>{{form.heart_volume_fraction}}</td>
        </tr>
        <tr>
            <td>Blood heart fraction:</td>
            <td>{{form.blood_heart_fraction}}</td>
        </tr>
        <tr>
            <td>P heart:</td>
            <td>{{dform.p_heart}}</td>
            <td><em>(Partition coefficient).</em></td>
        </tr>
        <tr>
            <td>Pi heart:</td>
            <td>{{dform.pi_heart}}</td>
            <td><em>(Permeability coefficient).</em></td>
        </tr>
    </table>
        </div>
<input type="button" id="muscle" value="Muscle" class="organ enabled muscle"><b></b>
    <div id="muscleArea" style="display: none;">
     <table>
        <tr>
            <td>Muscle Flow Factor:</td>
            <td>{{form.muscle_flow_factor}}</td>
            <td><em>(Lung flow as percentage with respect to cardiac output).</em></td>
        </tr>
        <tr>
            <td>Muscle Volume Fraction:</td>
            <td>{{form.muscle_volume_fraction}}</td>
        </tr>
        <tr>
            <td>Blood muscle fraction:</td>
            <td>{{form.blood_muscle_fraction}}</td>
        </tr>
        <tr>
            <td>P muscle:</td>
            <td>{{dform.p_muscle}}</td>
            <td><em>(Partition coefficient).</em></td>
        </tr>
        <tr>
            <td>Pi muscle:</td>
            <td>{{dform.pi_muscle}}</td>
            <td><em>(Permeability coefficient).</em></td>
        </tr>
    </table>
    </div>
<input type="button" id="spleen" value="Spleen" class="organ enabled spleen"><b></b>
    <div id="spleenArea" style="display: none;">
     <table>
        <tr>
            <td>Spleen Flow Factor:</td>
            <td>{{form.spleen_flow_factor}}</td>
            <td><em>(Lung flow as percentage with respect to cardiac output).</em></td>
        </tr>
        <tr>
            <td>Spleen Volume Fraction:</td>
            <td>{{form.spleen_volume_fraction}}</td>
        </tr>
        <tr>
            <td>Blood spleen fraction:</td>
            <td>{{form.blood_spleen_fraction}}</td>
        </tr>
        <tr>
            <td>P spleen:</td>
            <td>{{dform.p_spleen}}</td>
            <td><em>(Partition coefficient).</em></td>
        </tr>
        <tr>
            <td>Pi spleen:</td>
            <td>{{dform.pi_spleen}}</td>
            <td><em>(Permeability coefficient).</em></td>
        </tr>
    </table>
    </div>
<input type="button" id="placental" name="Placental" value="Placental-fetal unit" class="organ enabled placental"><b></b>
    <div id="placentalArea" style="display: none;">
     <table>
        <tr>
            <td>PLacental Flow Factor:</td>
            <td>{{form.placental_flow_factor}}</td>
            <td><em>(Lung flow as percentage with respect to cardiac output).</em></td>
        </tr>
        <tr>
            <td>PLacental Volume Fraction:</td>
            <td>{{form.placental_volume_fraction}}</td>
        </tr>
        <tr>
            <td>Blood placental fraction:</td>
            <td>{{form.blood_placental_fraction}}</td>
        </tr>
        <tr>
            <td>P placental:</td>
            <td>{{dform.p_placental}}</td>
            <td><em>(Partition coefficient).</em></td>
        </tr>
        <tr>
            <td>Pi placental:</td>
            <td>{{dform.pi_placental}}</td>
            <td><em>(Permeability coefficient).</em></td>
        </tr>
    </table>
    </div>
<input type="button" id="organ1" class="organ enabled" style="display: none"/>

<div id="organ1Area" style="display: none">
    <table>
        <tr>
            <td>Organ name:</td>
            <td>{{form.organ1_name}}</td>
            <td>Organ1params:</td>
            <td>{{dform.organ1_params}}</td>
        </tr>
    </table>

    <table id="organ1type"  style="display: none">
        <tr>
            <td>Type of organ:</td>
            <td><input type="radio" id="metabolising" class="metabolising" name="type"> Metabolizing</td>
            <td><input type="radio" id="non-metabolising" class="non-metabolising" name="type">Non-metabolising</td>
        </tr>
    </table>
    <table>
        <tr>
            <td>Flow Factor:</td>
            <td>{{form.organ1_flow_factor}}</td>
            <td><em>(Lung flow as percentage with respect to cardiac output).</em></td>
        </tr>
        <tr>
            <td>Volume Fraction:</td>
            <td>{{form.organ1_volume_fraction}}</td>
            <!--<td><input type="text" value={{0.0}} id="organ1_v_f"></td> -->
        </tr>
        <tr>
            <td>Blood fraction:</td>
            <td>{{form.blood_organ1_fraction}}</td>
            <!--<td><input type="text" value={{0.0}} id="organ1_b_f"></td> -->
        </tr>
        <tr>
            <td>P :</td>
            <td>{{dform.p_organ1}}</td>
            <!--<td><input type="text" value={{0.0}} id="p_organ1"></td> -->
            <td><em>(Partition coefficient).</em></td>
        </tr>
        <tr>
            <td>Pi :</td>
            <td>{{dform.pi_organ1}}</td>
            <!--<td><input type="text" value={{0.0}} id="pi_organ1"></td> -->
            <td><em>(Permeability coefficient).</em></td>
        </tr>
    </table>
    <table id="meta-constains1" style="display: none">
        <tr>
            <td>Constains:</td>
            <td><select id= "constains1" name="constains1">
                <option value="Linear"></option>
                <option value="Menten"></option>
            </select></td>
        </tr>

    </table>
</div>
<input type="button" id="organ2" class="organ enabled" style="display: none"/>

<div id="organ2Area" style="display: none">
    <table>
        <tr>
            <td>Organ name:</td>
            <td>{{form.organ2_name}}</td>
        </tr>
    </table>

    <table id="organ2type">
        <tr>
            <td>Type of organ:</td>
            <td><input type="radio" id="metabolising2" class="metabolising" name="type"> Metabolizing</td>
            <td><input type="radio" id="non-metabolising2" class="non-metabolising" name="type">Non-metabolising</td>
        </tr>
    </table>
    <table>
        <tr>
            <td>Flow Factor:</td>
            <td>{{form.organ2_flow_factor}}</td>
            <td><em>(Lung flow as percentage with respect to cardiac output).</em></td>
        </tr>
        <tr>
            <td>Volume Fraction:</td>
            <td>{{form.organ2_volume_fraction}}</td>
        </tr>
        <tr>
            <td>Blood fraction:</td>
            <td>{{form.blood_organ2_fraction}}</td>
        </tr>
        <tr>
            <td>P :</td>
            <td>{{dform.p_organ2}}</td>
            <td><em>(Partition coefficient).</em></td>
        </tr>
        <tr>
            <td>Pi :</td>
            <td>{{dform.pi_organ2}}</td>
            <td><em>(Permeability coefficient).</em></td>
        </tr>
    </table>
    <table id="meta-constains2" style="display: none">
        <tr>
            <td>Constains:</td>
            <td><select name="constains2">
                <option value="Linear"></option>
                <option value="Menten"></option>
            </select></td>
        </tr>

    </table>
</div>
<input type="button" id="organ3" class="organ enabled" style="display: none"/>

<div id="organ3Area" style="display: none">
    <table>
        <tr>
            <td>Organ name:</td>
            <td>{{form.organ3_name}}</td>
        </tr>
    </table>

    <table id="organ3type">
        <tr>
            <td>Type of organ:</td>
            <td><input type="radio" id="metabolising3" class="metabolising" name="type"> Metabolizing</td>
            <td><input type="radio" id="non-metabolising3" class="non-metabolising" name="type">Non-metabolising</td>
        </tr>
    </table>
    <table>
        <tr>
            <td>Flow Factor:</td>
            <td>{{form.organ3_flow_factor}}</td>
            <td><em>(Lung flow as percentage with respect to cardiac output).</em></td>
        </tr>
        <tr>
            <td>Volume Fraction:</td>
            <td>{{form.organ3_volume_fraction}}</td>
        </tr>
        <tr>
            <td>Blood fraction:</td>
            <td>{{form.blood_organ3_fraction}}</td>
        </tr>
        <tr>
            <td>P :</td>
            <td>{{dform.p_organ3}}</td>
            <td><em>(Partition coefficient).</em></td>
        </tr>
        <tr>
            <td>Pi :</td>
            <td>{{dform.pi_organ3}}</td>
            <td><em>(Permeability coefficient).</em></td>
        </tr>
    </table>
    <table id="meta-constains3" style="display: none">
        <tr>
            <td>Constains:</td>
            <td><select name="constains3">
                <option value="Linear"></option>
                <option value="Menten"></option>
            </select></td>
        </tr>

    </table>
</div>
<input type="button" id="organ4" class="organ enabled" style="display: none"/>

<div id="organ4Area" style="display: none">
    <table>
        <tr>
            <td>Organ name:</td>
            <td>{{form.organ4_name}}</td>
        </tr>
    </table>

    <table id="organ4type">
        <tr>
            <td>Type of organ:</td>
            <td><input type="radio" id="metabolising4" class="metabolising" name="type"> Metabolizing</td>
            <td><input type="radio" id="non-metabolising4" class="non-metabolising" name="type">Non-metabolising</td>
        </tr>
    </table>
    <table>
        <tr>
            <td>Flow Factor:</td>
            <td>{{form.organ4_flow_factor}}</td>
            <td><em>(Lung flow as percentage with respect to cardiac output).</em></td>
        </tr>
        <tr>
            <td>Volume Fraction:</td>
            <td>{{form.organ4_volume_fraction}}</td>
        </tr>
        <tr>
            <td>Blood fraction:</td>
            <td>{{form.blood_organ4_fraction}}</td>
        </tr>
        <tr>
            <td>P :</td>
            <td>{{dform.p_organ4}}</td>
            <td><em>(Partition coefficient).</em></td>
        </tr>
        <tr>
            <td>Pi :</td>
            <td>{{dform.pi_organ4}}</td>
            <td><em>(Permeability coefficient).</em></td>
        </tr>
    </table>
    <table id="meta-constains4" style="display: none">
        <tr>
            <td>Constains:</td>
            <td><select name="constains4">
                <option value="Linear"></option>
                <option value="Menten"></option>
            </select></td>
        </tr>

    </table>
</div>
<input type="button" id="organ5" class="organ enabled" style="display: none"/>

<div id="organ5Area" style="display: none">
    <table>
        <tr>
            <td>Organ name:</td>
            <td>{{form.organ5_name}}</td>
        </tr>
    </table>

    <table id="organ5type">
        <tr>
            <td>Type of organ:</td>
            <td><input type="radio" id="metabolising5" class="metabolising" name="type"> Metabolizing</td>
            <td><input type="radio" id="non-metabolising5" class="non-metabolising" name="type">Non-metabolising</td>
        </tr>
    </table>
    <table>
        <tr>
            <td>Flow Factor:</td>
            <td>{{form.organ5_flow_factor}}</td>
            <td><em>(Lung flow as percentage with respect to cardiac output).</em></td>
        </tr>
        <tr>
            <td>Volume Fraction:</td>
            <td>{{form.organ5_volume_fraction}}</td>
        </tr>
        <tr>
            <td>Blood fraction:</td>
            <td>{{form.blood_organ5_fraction}}</td>
        </tr>
        <tr>
            <td>P :</td>
            <td>{{dform.p_organ5}}</td>
            <td><em>(Partition coefficient).</em></td>
        </tr>
        <tr>
            <td>Pi :</td>
            <td>{{dform.pi_organ5}}</td>
            <td><em>(Permeability coefficient).</em></td>
        </tr>
    </table>
    <table id="meta-constains5" style="display: none">
        <tr>
            <td>Constains:</td>
            <td><select name="constains5">
                <option value="Linear"></option>
                <option value="Menten"></option>
            </select></td>
        </tr>

    </table>
</div>

<br />
<div style=" display:none;">
    <label>
         Method:<br>
         {{form.method}}
    </label>
    <label>
         Method parameters:<br>
         {{form.method_params}}
    </label>
    <label>
        Plot parameters:<br>
        <textarea cols="40" id="id_mod-plot_params" name="mod-plot_params" rows="10"></textarea>
    </label>
    <label>
        Step parameters:<br>
        <textarea cols="40" id="id_mod-step_params" name="mod-step_params" rows="10"></textarea>
    </label>
</div>

{%if image%}
    <div id="below" class="below">
        <!-- DIV GIA RESULTS-->

       <!-- <b>Expected Response of the System:</b><br>
        <a class="example-image-link" href="data: test/png;base64,{{img}}" data-lightbox="image-1">
            <img id="im" class="example-image" src="data: test/png;base64,{{img}}" style="width: 40rem">
        </a>
        <a ><img src="/static/img/print28.png" onclick="jQuery.print('#im')" style="width: 2rem; cursor: pointer;"/></a> -->
        <!--<button class="print btn btn-block btn-lg btn-primary" onclick="jQuery.print('#im')" style="width: 50%"> Print Image </button>-->
        <!--<a href="data: test/png;base64,{{img}}">Download image</a>-->
    </div>
{% endif %}

<input type="submit" value="{%if edit%}Save changes{% else %}Create Model{% endif %}" id="Create_model" class="btn btn-block btn-lg btn-primary create"
       style="width: 8%; border: 2px solid #2f4154;" >
{% if not default %}
    <div id="div-placental"></div>
    <input type="button" value="Add organs" id="Add_organs" name="Add_organs" onClick="addInput('div-placental');"
           class="btn btn-block btn-lg btn-primary" style="width: 8%; border: 2px solid #2f4154;">
    <input type="button" value="Remove" id="removeButton" class="btn btn-red btn-block btn-lg btn-primary"
           style="width: 8%; border: 2px solid #2f4154; margin: 0px;">
{% endif %}
</form>

<div id="loading" style="display: none"><!-- Place at bottom of page -->
            <img id="loading-image" src="http://i.stack.imgur.com/FhHRx.gif" alt="Loading..." />
        </div>
<!--Script for loading -->

<script>
    ModelForm = {
        pk: '{{form.instance.pk}}',
        token: '{{ csrf_token }}',
        default: {% if default %}true{% else %}false{% endif %},
        tutorial: {% if tutorial %}true{% else %}false{% endif %},
        edit: {% if edit %}true{% else %}false{% endif %},
        save: {% if save %}true{% else %}false{% endif %},
        image: {% if image %}true{% else %}false{% endif %},
        change: {% if change %}true{% else %}false{% endif %},
        tutorial_result: {% if tutorial_result %}true{% else %}false{% endif %},
        tutorial_openloop_result: {% if tutorial_openloop_result %}true{% else %}false{% endif %},
        t_create: {% if t_create %}true{% else %}false{% endif %},
        t_create_final: {% if t_create_final %}true{% else %}false{% endif %}
    };

    {% if json %}
        ModelForm.json = '{{json}}';
        ModelForm.adm = '{{adm}}';
    {% endif %}
</script>
<script src="/static/js/model_form.js"></script>

{% endblock %}
